<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <ul class="nav nav-tabs">
        <li >
           <a routerLink="/shop">首页</a>
        </li>
        <li>
           <a routerLink="/center">个人中心</a>
        </li>
        <li class="active">
           <a routerLink="/cart">我的购物车</a>
        </li>
        <li>
            <a routerLink="/hot">推荐及排行榜</a>
         </li>
      </ul>
      <app-book [deleteCartButton]="true"></app-book>
    </div>
  </div>
</div>